<h1>Your working stats</h1>

<p>Workdays: <%= @workdays.count %></p>
<p>Companies: <%= @companies.count %></p>
<p>Projects: <%= @projects.count %></p>

<%= @workdays.each do |workday| %>
    <p>Hours: <%= TimeDifference.between(workday.start, workday.end).in_years %></p>
<% end %>
