<div class="header">
  <div class="header-top">
    <%= image_tag("sendgrid_logo.png", :class => "logo") %>
  </div>
</div>

<div class="container">
  <div class="form">
    <% if flash[:message] %>
        <div class="alert <%= flash[:class] %>">
          <%= flash[:message] %>
        </div>
    <% end %>
    <%= form_tag(email_sending_path, :class => "form-horizontal") do %>
        <div class="control-group">
          <%= label_tag(:toAddress, "To:", :class => "control-label") %>
          <div class="controls">
            <%= text_field_tag "toAddress", "#{@toAddress}", :class => "input-xxlarge" %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag(:subject, "Subject:", :class => "control-label") %>
          <div class="controls">
            <%= text_field_tag "subject", "#{@subject}", :class => "input-xxlarge" %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag(:body, "Content:", :class => "control-label") %>
          <%= text_area_tag :body, "#{@body}", :class => "input-xxlarge" %>
        </div>
        <div>
          <%= button_tag(:type => "submit", :class => "btn btn-primary") do -%>
              <%= content_tag :i, :class =>"icon-envelope icon-white" do -%>
              <% end -%> Send
          <% end -%>
        </div>
    <% end %>
  </div>
</div>