<%= form_for @workday, :html => {:class => "form-horizontal workday"} do |f| %>

    <% if @workday.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@workday.errors.count, "error") %> prohibited this workday from being
              saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @workday.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :day, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.date_select :day, :class => 'form-control' %>
      </div>
      <%= f.error_span(:day) %>
    </div>
    <div class="form-group">
      <%= f.label :start, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.time_select :start, :class => 'form-control' %>
      </div>
      <%= f.error_span(:start) %>
    </div>
    <div class="form-group">
      <%= f.label :end, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.time_select :end, :class => 'form-control' %>
      </div>
      <%= f.error_span(:end) %>
    </div>

    <div class="form-group">
      <%= f.label :company, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.collection_select :company_id, current_user.companies.order(:title), :id, :title, include_blank: true, :class => 'form-control' %>
      </div>
      <%= f.error_span(:company) %>
    </div>

    <div class="form-group">
      <%= f.label :project, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.collection_select :project_id, current_user.projects.order(:title), :id, :title, include_blank: true, :class => 'form-control' %>
      </div>
      <%= f.error_span(:project) %>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    workdays_path, :class => 'btn btn-default' %>
      </div>
    </div>

<% end %>
