<%- model_class = Workday -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr class="success">
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:day) %></th>
      <th><%= model_class.human_attribute_name(:start) %></th>
      <th><%= model_class.human_attribute_name(:end) %></th>
      <th><%= model_class.human_attribute_name(:company) %></th>
      <th><%= model_class.human_attribute_name(:project) %></th></ht>
      <!--<th><%= model_class.human_attribute_name(:created_at) %></th>-->
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @workdays.each do |workday| %>
      <tr>
        <td><%= link_to workday.id, workday_path(workday) %></td>
        <td><%= workday.day %></td>
        <td><%= workday.start.to_s(:time) %></td>
        <td><%= workday.end.to_s(:time) %></td>
        <td><%= workday.company.title %></td>
        <% if workday.project.present? %>
            <td><%= workday.project.title %></td>
        <% else %>
            <td></td>
        <% end %>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_workday_path(workday), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      workday_path(workday),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_workday_path,
            :class => 'btn btn-primary' %>
